<!DOCTYPE html>
<html lang="en-AU" class="bg-little-lens-light-500">
	<%- partial('partial/head') %>

	<body class="relative">
		<!-- Navbar -->
		<%- partial('partial/header') %>

		<!-- Content -->
		<%- body %>

		<!-- Footer -->
		<%- partial('partial/footer') %>

		<!-- After Footer -->
		<%- partial('partial/after-footer') %>
	</body>
</html>
