<!DOCTYPE html class="dark">
<html lang="en">
	<%- partial('partial/head') %>

	<body>
		<!-- Navbar -->
		<%- partial('partial/header') %>

		<!-- Content -->
		<%- body %>

		<!-- Footer -->
		<%- partial('partial/footer') %>

		<!-- After Footer -->
		<%- partial('partial/after-footer') %>
	</body>
</html>
