<main class="pb-16 lg:pb-24 antialiased">
	<header class="py-12">
		<div class="px-4 mx-auto w-full max-w-screen-xl text-center">
			<span class="block mb-4 font-semibold text-gray-900"
				>Published
				<time
					class="font-normal text-gray-500"
					pubdate
					class="uppercase"
					datetime="2022-03-08"
					title="August 3rd, 2022"
					><%- date(page.date, "DD/MM/YYYY") %></time
				></span
			>
			<h1
				class="mx-auto mb-4 max-w-2xl text-2xl font-extrabold leading-none text-gray-900 sm:text-3xl lg:text-4xl"
			>
				<%= page.title %>
			</h1>
			<p class="text-lg font-normal text-gray-500"><%= page.subtitle %></p>
		</div>
	</header>
	<div
		class="flex relative z-20 justify-between px-4 mx-auto max-w-screen-xl rounded"
	>
		<article class="format w-full md:pr-8 lg:pr-16 xl:pr-32">
			<div
				class="flex flex-col lg:flex-row justify-between lg:items-center py-6 border-t border-b border-gray-200"
			>
				<span class="text-base mb-4 lg:mb-0 font-normal text-gray-500"
					>By
					<a
						href="/about"
						rel="author"
						class="font-bold text-gray-900 no-underline hover:underline"
						><%= page.author %></a
					>
				</span>
				<aside aria-label="Share social media">
					<a
						href="#"
						class="inline-flex items-center py-2 px-6 mr-2 text-xs font-medium text-gray-900 no-underline rounded-lg border border-gray-200 focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200"
					>
						<svg
							class="w-3 h-3 mr-2"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 8 19"
						>
							<path
								fill-rule="evenodd"
								d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
								clip-rule="evenodd"
							/>
						</svg>
						Share
					</a>
					<a
						href="#"
						class="inline-flex items-center py-2 px-6 mr-2 text-xs font-medium text-gray-900 no-underline rounded-lg border border-gray-200 focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200"
					>
						<svg
							class="w-3 h-3 mr-2"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 20 20"
						>
							<path
								fill="currentColor"
								d="M12.186 8.672 18.743.947h-2.927l-5.005 5.9-4.44-5.9H0l7.434 9.876-6.986 8.23h2.927l5.434-6.4 4.82 6.4H20L12.186 8.672Zm-2.267 2.671L8.544 9.515 3.2 2.42h2.2l4.312 5.719 1.375 1.828 5.731 7.613h-2.2l-4.699-6.237Z"
							/>
						</svg>
						Tweet
					</a>
					<button
						type="button"
						class="inline-flex items-center py-2 px-6 text-xs font-medium text-gray-900 no-underline rounded-lg border border-gray-200 focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200"
					>
						<svg
							class="w-3 h-3 mr-2"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 19 19"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M11.013 7.962a3.519 3.519 0 0 0-4.975 0l-3.554 3.554a3.518 3.518 0 0 0 4.975 4.975l.461-.46m-.461-4.515a3.518 3.518 0 0 0 4.975 0l3.553-3.554a3.518 3.518 0 0 0-4.974-4.975L10.3 3.7"
							/>
						</svg>
						Copy link
					</button>
				</aside>
			</div>
			<p class="lead"><%= page.description %></p>
			<img src="<%= page.cover %>" alt="<%= page.title %>" />
			<!-- Content  -->
			<%- page.content %>
			<!-- Share -->
			<%- partial('partial/share-socials') %>
		</article>
		<!-- Sidebar -->
		<%- partial('partial/sidebar', {contact: true, info: false, latestPosts: true, familyPhotos: true}) %> 
</main>
