<main class="pb-16 lg:pb-24 antialiased">
	<header class="py-12">
		<div class="px-4 mx-auto w-full max-w-screen-xl text-center">
			<h1
				class="mx-auto mb-4 max-w-2xl text-2xl font-extrabold leading-none text-gray-900 sm:text-3xl lg:text-4xl"
			>
				<%= page.title %>
			</h1>
			<p class="text-lg font-normal text-gray-500"><%= page.subtitle %></p>
		</div>
	</header>
	<div
		class="flex relative z-20 justify-between px-4 mx-auto max-w-screen-xl rounded"
	>
		<article class="format w-full md:pr-8 lg:pr-16 xl:pr-32">
			<%- page.content %>
			<h2><%= page.title %></h2>

			<ul>
				<% site.pages.each(function(page) { %> <% if (page.layout === 'suburb')
				{ %>
				<li><a href="<%= url_for(page.path) %>"><%= page.title %></a></li>
				<% } %> <% }) %>
			</ul>

			<h3>Suburbs I travel to for childcare photography in Melbourne</h3>
			<p>
				I’m always happy to travel! If your childcare centre is located outside
				the listed suburbs, please don’t hesitate to
				<a href="/contact">get in touch</a>. I regularly photograph across a
				wide area of Melbourne and may still be able to accommodate your
				location.
			</p>
			<p>
				Let’s chat about how I can bring a warm, relaxed childcare photography
				experience to your centre — no matter where you're based.
			</p>
		</article>

		<!-- Sidebar -->
		<%- partial('partial/sidebar', {contact: true, info: false, latestPosts:
		true, familyPhotos: true}) %>
	</div>
</main>
