<% const cleanedPath = url_for(page.path).replace(/index\.html$/,
'').replace(/\.html$/, ''); let canonicalUrl = config.url.replace(/\/$/, '')
+ cleanedPath; %>

<% let imageUrl = null; %> <% if (page.cover) { imageUrl =
  config.url.replace(/\/$/, '') + url_for(page.asset_dir + page.cover); } %>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= seoTitle() %></title>

  <meta name="description" content="<%= seoDescription() %>" />

  <meta
    name="author"
    content="Little Lens - <%= page.author || config.author %>"
  />

  <link rel="icon" href="/logos/favicon.png" type="image/png" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&amp;display=swap"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="/css/styles.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://unpkg.com/flowbite-typography@1.0.3/dist/typography.min.css"
  />

  <link rel="canonical" href="<%= canonicalUrl %>" />


  <!-- Open Graph  -->
  <%- partial('partial/head/open-graph', {imageUrl, canonicalUrl}) %>

  <!-- Geo region  -->
	<%- partial('partial/head/geo-region') %>

  <!-- Twitter  -->
	<%- partial('partial/head/twitter', {imageUrl}) %>


  <!-- Schema.org -->
  <script type="application/ld+json">
    <%- jsonld(page, site, config) %>
  </script>

  <% if (page.path === 'childcare-centre-faqs/index.html' || page.path ===
  'families-faqs/index.html') { %>
  <script type="application/ld+json">
    <%- faqJsonld(page) %>
  </script>
  <% } %>

  <!-- GTM  -->
	<%- partial('partial/head/gtm') %>
</head>
